<form [formGroup]="formGroup">
  <label for="total-additional-volume">Total Additional Volume</label>
  <div name="total-additional-volume">{{formGroup.value.additionalVolumes | totalAdditionalVolume }}</div>
  <div formArrayName="additionalVolumes" *ngFor="let exposure of formGroup.get('additionalVolumes').controls; let i = index;">
    <div [formGroupName]="i">
      <label for="additional-volume">Additional Volume</label>
      <input [appIfError]="'error-input'" [appIfDirty]="'dirty-input'" type="number" name="additional-volume" formControlName="volume">
    </div>
  </div>
</form>
<div ngClass="error-text" *ngFor="let error of (formGroup | projectFormErrors)">
  {{error}}
</div>
