<form [formGroup]="formGroup">
  <label for="name">Project name:</label>
  <input [appIfError]="'error-input'" [appIfDirty]="'dirty-input'" type="text" name="name" formControlName="name">
  <div formArrayName="exposures" *ngFor="let exposure of formGroup.get('exposures').controls;">
    <app-project-form-row [formGroup]="exposure"></app-project-form-row>
  </div>
  <label for="minimumVolume">Minimum volume:</label>
  <input [appIfError]="'error-input'" [appIfDirty]="'dirty-input'" name="minimumVolume" type="number" formControlName="minimumVolume">
  <div ngClass="error-text" *ngFor="let error of (formGroup | projectFormErrors)">
    {{error}}
  </div>
</form>
